div {
    width: 7px;
    height: 6px;
    background: black;
    position: relative;
    animation: mymove 5s infintite;
}

h1 {
    font-size: 10px;
}
#type1 {
    color:aqua;
    text-align:right;
}
.special {
    color:gold;
}